@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

body {

    display: block;
    height: 100vh;

    .board {
        position: relative;
        top: 10vh;
        display: grid;
        width: 30vw;
        height: 30vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        justify-content: stretch;
        align-content: stretch;
        margin: auto;
        background-color: black;

        .cell {
            cursor: pointer;
            border-style: solid;
            border-color: white;
            border-width: 2px;
            color: white;
            font-family: 'Merienda One', cursive;
            font-size: 6vw;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #i0j0,
        #i0j1,
        #i0j2 {
            border-top: 0px;
        }

        #i0j0,
        #i1j0,
        #i2j0 {
            border-left: 0px;
        }

        #i2j0,
        #i2j1,
        #i2j2 {
            border-bottom: 0px;
        }

        #i0j2,
        #i1j2,
        #i2j2 {
            border-right: 0px;
        }
    }

    .scoreboard {
        position: relative;
        bottom: 20vh;
        right: 35vw;
        display: grid;
        width: 25vw;
        height: 8vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: (1fr);
        justify-content: stretch;
        align-content: stretch;
        margin-left: auto;
        margin-right: auto;
        background-color: white;



        .scorecontainer {
            display: flex;
            flex-direction: column;
            justify-content: center;

            text-align: center;

            p {
                font-size: larger;
                color: white;
            }

            h1 {
                font-size: 5vh;
                color: cyan;

            }
        }
    }
}