.buttons{
    position: absolute;
    top:10vh;
    left: 10vw;
    display: block;
    width: 10.2vw;
    height: auto;
    background-color: transparent;
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

    #reset, #clearscore{
        display: block;
        margin: auto;
        cursor: pointer;
        color: white;
        z-index: 3;
    }

    .btn {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 0;
        text-align: center;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        padding: 3px 16px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 13px;
        font-weight: 500;
        border-radius: 0;
        padding-bottom: 7px;

      }
      
      .btn-default-toggle-ghost,
      .btn-default-toggle-ghost:focus {
        display: flex;
        justify-content: center;
        background: transparent;
        border: 1px solid rgba(160, 160, 160, 0.6);
        color: white;
        outline: none;
        text-align: center;
        font-size: 16px;
        line-height: 30px;
        position: relative;
        float: left;
      }
      
      .btn-group [type="radio"] {
        display: none;
      }
      
      [type="radio"]:checked+.btn-default-toggle-ghost {
        background:transparent;
      }
      
      [type="radio"]:checked+.btn-default-toggle-ghost:after {
        content: '';
        position: absolute;
        top: 0px;
        height: 3px;
        background: cyan;
        left: 0px;
        right: 0px;
      }
      
      .btn-default-toggle-ghost+[type="radio"]+.btn-default-toggle-ghost{
       border-left:0px;/*for removing the extra border between the buttons*/
      }

}


.buttons2{
  position: relative;
  margin: auto;
  display: flex;
  width: 40vw;
  height: auto;

  #previous, #next, #undo, #redo{
      display: block;
      position: relative;
      margin: auto;
      cursor: pointer;
      color: whitesmoke;
  }

  #previous{
    display: none;
  }

  #next{
    display: none;
  }

  #undo{
  }

  #redo{ 

  }
}