
    .history {
        position: absolute;
        top: 10vh;
        right: 10vw;
        display: block;
        width: 15vw;
        height: 20vw;
        margin: auto;
        background-color: pink;

        p{
            color:cyan;
        }
    }
